*{
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    visibility: hidden;
}
#start-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    visibility: visible;
}
#time-keeper {
    padding-right: 50px;
    margin-left: 18px;
}

h4 {
    font-size: 25px;
    margin-bottom: 15px;
    border-bottom: blue 1px solid;
}
p{
    font-size: 20px;
}
.card-border{
    background-color: white;
    width: 50%;
    border: 3px solid rgb(108, 108, 153);
    box-shadow: darkblue 4px;
    padding: 30px;
}
#container{
    
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
    padding: 20px;
    visibility:hidden;
}
figure{
    display: flex;
    flex-direction: column;
}
.button-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
div button {
    margin-top: 30px;
    padding: 15px;
    background-color: rgb(235, 230, 235);
    margin-right: 12px;
    width: 441px;
    font-size: 22px;  
}
#resetButton {
    height: 50px;
    width: inherit;
}
#submitButton {
    height: 50px;
    width: inherit;
}
#next-button-container {
    display: flex;
    justify-content: right;
}
#next-button {
    width: 116px;
    height: 55px;
    font-size: 15px;
    border-radius: 63px;
}

#form-container {
    margin-top: -10%;
    border: blue 2px solid;
   display: flex;
   justify-content: center;
   height: 100%;
   visibility: hidden;
   font-size: 15px;
}
label {
    font-size: 35px;
    text-align: center;
}
.input-container {
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

#final-score {
    font-size: 31px;
    text-align: center;
}
.scoreboard-scoreboard {
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 800px;
    font-size: 25px;
}

#scoreboard-title {
    text-align: center;
    font-size: 100px;
}
#scoreboard-score {
    border-bottom: blueviolet 2px solid;
}
#scoreboard-container{
    visibility: hidden;
    margin-top: -350px;
}
#userInitials {
    height: 50px;
}
ul {
    position: absolute;
    top: 201px
}